/* General style elements */

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f1f6f9;

}

/* Text style Elements */

h1 {
    font-size: 55px;
    margin: 0;
    color: #9ad3bc;
    text-align: center;
}

.footer {
    text-align: center;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: black;
}



/* Points system style elements */

.rounds {
    text-align: center;
}

.pointsSystem {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

.pointsSystem>li {
    margin: 0 150px;
}



/* Style elements game */


.container-main {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.container-middle {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    padding: 20px 70px;
    font-size: larger;
    justify-content: center;

}

/* More detailed style parts user part*/

.container-left {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

.imageUser {
    object-fit: scale-down;
    height: 70%;
    padding: 10px 0 15px;
}

.userText {
    margin: 15px auto;
}


/* More detailed style parts computer part */

.container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
}

.computerText {
    margin: 0 auto;
}


.imageComputer {
    object-fit: scale-down;
    height: 70%;
    padding-bottom: 15px;
}


/* Buttons styling */

button {
    background-color: transparent;
    border: transparent;
}

button:focus {
    background-color: #9ad3bc;
}

.button-img {
    width: 50px;
}

.buttonBox {
    display: flex;
    justify-content: center;
}

.buttons {
    width: 25%;
    cursor: pointer;
}

.playButton {
    width: 70px;
    margin: 55px auto;
    padding: 15px;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #9ad3bc;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.refreshButton {
    width: 70px;
    margin: 55px auto;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #9ad3bc;
    border-radius: 5px;
    cursor: pointer;
}


.middle-buttons {
    display: flex;
    margin: 0 auto;
}



/* Media Queries */

@media (max-width: 575.98px) {

h1 {
    font-size: 40px;
}

    .imageUser {
   
     height: 25%;
    }

    .imageComputer {
        height: 25%;
    }


    .buttons {
        padding-left: 5px;

    }

    
    .container-main {
        flex-direction: column;
    }



}


@media (max-width: 767.98px) {


    .imageUser {
        height: 40%;
    }

    .imageComputer {
        height: 40%;
    }

    .playButton {
        font-size: 10px;
    }

    .pointsSystem>li {
        margin: 0 50px;
    }



}