/* General style elements */ 

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f1f6f9;

}

/* Text style Elements */ 

h1 {
    font-size: 55px;
    margin: 0;
    color: #9ad3bc;
    text-align: center;
}

.footer {
    text-align: center;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: black;
}



/* Points system style elements */ 

.pointsSystem {
    margin-bottom: 50px;
}

.rounds {
    text-align: center;
}

.pointsSystem {
    list-style: none;
    display: flex;
text-align: center;
justify-content: center;
}

.pointsSystem > li {
margin: 0 150px;
}



/* Style elements game */


.container-main {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.container-middle {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    padding: 20px;
    font-size: larger;
    justify-content: center;

}

/* More detailed style parts user part*/ 

.container-left {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

.imageUser {
    object-fit: scale-down;
    height: 70%;
    padding: 10px 0 15px;
}

.userText {
    margin: 15px auto;
}


/* More detailed style parts computer part */

.container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
}

.computerText {
    margin: 0 auto;
}


.imageComputer{
    object-fit: scale-down;
    height: 70%;
    padding-bottom: 15px;
}


/* Buttons styling */

button {
    background-color: transparent;
    border: transparent;
}

button:focus {
    background-color: #9ad3bc;
}

.button-img {
    width: 50px;
}

.buttonBox {
    display: flex;
    justify-content: center;
}

.buttons {
    width: 25%;
}

.playButton {
    width: 25%;
    margin: 55px auto;
padding: 15px;
font-family: 'Nunito', sans-serif;
border: 1px solid #9ad3bc;
border-radius: 5px;
}


/* Media Queries */ 

@media (max-width: 575.98px) { 

 }


@media (max-width: 767.98px) { 

 }


@media (max-width: 991.98px) { 

 }

