/* Whole page elements styling */ 

body {
    font-family: 'Montserrat', sans-serif;
        background-color: #d9eaf1;

}

.background {
    background-image: url("images/tree.png");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 100px;
}


.headerPictures {
    text-align: center;
}

.headerPictures>img {
    width: 70px;
    padding: 5px 30px;

}

.footer {
    text-align: center;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: black;
}


/* Point system styling */ 


.rounds {
    text-align: center;
}

.pointsSystem {
    list-style: none;
    display: flex;
text-align: center;
justify-content: center;
}

.pointsSystem > li {
margin: 0 150px;
}



/* Main styling game */ 

.container-main {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}


.container-middle {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    padding: 20px 70px;
    font-size: larger;
    justify-content: center;

}

/* Specific user part styling */ 

.container-left {
    display: flex;
    flex-direction: column;
    border: 0.5px dashed gray;
    width: 300px;
    height: 300px;
}

.imageUser {
    object-fit: scale-down;
    height: 50%;
    padding: 10px 0 15px;
}

.userText {
    margin: 15px auto;
}
.button-img {
    width: 50px;
}
/* Specific computer part styling */ 

.container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.5px dashed gray;
    width: 300px;
    height: 300px;
}

.computerText {
    margin: 0 auto;
}



.imageComputer{
    object-fit: scale-down;
    height: 70%;
    padding-bottom: 15px;
}

/* Buttons styling */ 


.buttonBox {
    display: flex;
    justify-content: center;
}

.buttons {
    width: 25%;
    cursor: pointer;
}

.playButton {
    width: 70px;
padding: 15px;
font-family: 'Montserrat', sans-serif;
cursor: pointer;
flex-direction: row;
margin-right: 10px;
}

.refreshButton {
    width: 70px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}


.middle-buttons {
    display: flex;
    margin: 0 auto;
}

/* Media Queries */

@media (max-width: 575.98px) {

    
        .imageUser {
       
         height: 25%;
        }
    
        .imageComputer {
            height: 25%;
        }
    
    
        .buttons {
            padding-left: 5px;
    
        }
    


        .container-main {
            flex-direction: column;
        }
    
    
    }
    
    
    @media (max-width: 767.98px) {
    
    
        .imageUser {
            height: 40%;
        }
    
        .imageComputer {
            height: 40%;
        }
    
        .playButton {
            font-size: 10px;
        }
    
        .pointsSystem>li {
            margin: 0 50px;
        }
    
    
    
    }